.testingContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-bottom: 40px; 
}

/* Стилі для першої секції - Головний екран */
.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 20px;
  color: #000000; /* Колір тексту на фоні */
  width: 100vw;
  margin-bottom: 40px; /* Відступ між секціями */
}

.heroTitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.heroText {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./userProfileImage.jpg'); 
  background-size: cover;
  background-position: center;
  opacity: 0.4; 
  z-index: -1; 
}


/* Стилі для секції тестування */
.testSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 40px 20px;
  background-color: #edb3db29;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(227, 110, 110, 0.848);
  margin-bottom: 40px; 
}

.testTitle {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.googleFormWrapper {
  width: 100%;
  overflow: hidden; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(227, 110, 110, 0.848);
}

.googleFormWrapper iframe {
  border: none; 
  display: block; 
}

.noteText {
  text-align: center;
  margin-top: 20px;
  font-size: 0.95rem;
  color: #666;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
  font-size: 16px;
}
