.loginFormContainer {
  max-width: 1180px;
  margin: 50px auto;
  padding: 80px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(227, 110, 110, 0.848);
  background-color: #ffffff;
  box-sizing: border-box; 
}

.loginFormContainer h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.2em; 
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1em;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 1rem; 
}

.input[type="file"] {
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 4px;
}

.imagePreview {
  display: block;
  margin-top: 10px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: auto; 
  margin-right: auto;
}

.errorMessage,
.successMessage {
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box; 
  padding: 0 10px; 
}

.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

@media (max-width: 992px) {
  .loginFormContainer {
    max-width: 90%; 
    margin: 30px auto; 
    padding: 60px; 
  }

  .loginFormContainer h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }

  label {
    font-size: 0.95em;
  }

  .input {
    padding: 9px;
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .loginFormContainer {
    max-width: 95%; 
    margin: 20px auto;
    padding: 30px; 
    box-shadow: none; 
    border: none; 
  }

  .loginFormContainer h1 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  label {
    font-size: 0.9em;
  }

  .input {
    padding: 8px;
    font-size: 0.9rem;
  }

  .formGroup {
    margin-bottom: 10px; 
  }

  .errorMessage,
  .successMessage {
    font-size: 0.85em;
    margin-top: -5px;
    margin-bottom: 10px;
    padding: 0 5px; 
  }
}

@media (max-width: 480px) {
  .loginFormContainer {
    padding: 20px; 
    margin: 10px auto; 
  }

  .loginFormContainer h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  label {
    font-size: 0.85em;
  }

  .input {
    padding: 7px;
    font-size: 0.85rem;
  }

  .errorMessage,
  .successMessage {
    font-size: 0.8em;
    margin-bottom: 8px;
  }
}